* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background */
  background: #0f0f0f;
  color: white;
  /* font */
  .all_text_font_cool_eng {
    font-family: 'Roboto', sans-serif;
  }
  .all_text_font_cool_th {
    font-family: 'Kanit', sans-serif;
  }
}

.text_highlight {
  color: #00f0ff;
  font-weight: 600;
}

.contain_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #121212;
  align-items: center;
    
  /* div_logo */
    .logo {
      a {
      font-size: 24px;
      font-weight: 700;
      color: white;
      font-family: 'Kanit', sans-serif;
      text-decoration: none;
      }
    }
  
  /* nav */
  nav {
    ul {
    list-style: none;
    display: flex;
    gap: 30px;

      li {
        a {
        text-decoration: none;
        color: #aaa;
        font-weight: 500;
        transition: 0.3s ease;
          &:hover,&:active {
            color: #00f0ff
          }
        }
      }
    }
  }
}

.contain_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  flex-wrap: wrap;
    .content {
      max-width: 600px;
        h1 {
        font-size: 48px;
        font-weight: 700;
        margin: 10px 0;
        }
        h3 {
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
        }
        p {
        margin: 20px 0;
        color: #aaa;
        line-height: 1.6;
        }
    }
}

.socials {
  margin: 20px 0;
    a {
    color: white;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    transition: 0.3s ease;
      &:hover {
      background: #00f0ff;
      color: #000;
    }
  }
}

.contain_content_img {
  background: linear-gradient(145deg, #00f0ff, #002bff);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 25px #00f0ff;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
    img {
      max-width: 300px;
      border-radius: 20px;
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .contain_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contain-content-img {
    margin-top: 40px;
  }

  .contain_header {
    flex-direction: column;
    gap: 10px;
  }
}
